{% extends 'LIHotelBundle::adminBase.html.twig' %}

{% block title %}Administración Hotel Symfony{% endblock%}

{% block body %}
	<div class="page-header">Por ahora vacio, pero irá de todo lo que {{ user.nombre }} podrá hacer</div>
{% endblock %}