{% trans_default_domain 'FOSUserBundle' %}

<div class="page-header">
    <h1>Cambiar Contraseña de Usuario</h1>
</div>
<div class="row">
	<div class="col-lg-5 col-sm-5" style="float: none; margin: 0 auto;">
		{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
		    {{ form_widget(form) }}
		    <div>
		        <input type="submit" class="btn btn-lg btn-success btn-block" value="{{ 'change_password.submit'|trans }}" />
		    </div>
		{{ form_end(form) }}
	</div>
</div>
