{% extends 'LIHotelBundle::adminBase.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h1>Creación Nueva Reserva<br><small>verificar antes si hay habitaciones disponibles</small></h1>
    </div>

    {% for message in app.session.flashbag.get('reserva') %}
        <div class="alert alert-danger" role="alert"><b>Oh crap! </b>{{ message }}</div>
    {% endfor %}
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('reserva') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
