{% extends 'LIHotelBundle::adminBase.html.twig' %}

{% block body -%}
<div class="page-header">
    <h1>Tipo Habitación<br><small>Añada un nuevo tipo que ayude a organizar mejor sus habitaciones</small></h1>
</div>
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tipohabitacion') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
