{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Hotel Symfony - Inicio Sesión{% endblock%}
{% block bodyInterno %}
<div class="page-header">
    <h1>Iniciar Sesión</h1>
</div>
<div class="row">
	<div class="col-lg-5 col-sm-5" style="float: none; margin: 0 auto;">
		{% if error %}
		    <div class="alert alert-danger alert-dismissible" role="alert">
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
	</div>
</div>
<div class="row">
	<div class="col-lg-5 col-sm-5" style="float: none; margin: 0 auto;">
		<form action="{{ path("fos_user_security_check") }}" method="post" class="form-group">
			<div class="input-group">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

			<div class="input-group input-block-level">
			  <span class="input-group-addon" id="basic-addon3">Usuario</span>
			  <input type="text" id="username" class="form-control" aria-describedby="basic-addon3" name="_username" value="{{ last_username }}" required="required">
			</div>

			<div class="input-group input-block-level">
			  <span class="input-group-addon" id="basic-addon2">Contraseña</span>
			  <input class="form-control" aria-describedby="basic-addon2" type="password" id="password" name="_password" required="required">
			</div>

			<input class="btn btn-primary btn-block" type="submit" id="_submit" name="_submit" value="Inicia Sesión" />

		    </div>
		</form>
		<small>¿Olvido su contraseña?</small>
	</div>
</div>

<style type="text/css">
	#username{ width: 100%; }
	#password{ width: 100%; }
	.tabla tr td{
		padding: 5px 5px 5px 5px;
	}
	input{
		width: 300px;
		border-radius: 4px;
	}
	.input-group{ margin-bottom: 10px; width: 100%; }
</style>
{% endblock bodyInterno %}
