{% extends 'LIHotelBundle::adminBase.html.twig' %}

{% block body -%}
	<div class="page-header">
    	<h1>Modificar Categoria Habitacion</h1>
    </div>

    {{ form(edit_form) }}

	<div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12"><a class="btn btn-success btn-block" href="{{ path('categoriahabitacion') }}" role="button">Regresar</a></div>
        <div class="col-lg-4 col-sm-4 col-xs-12">{{ form(delete_form) }}</div>
    </div>
{% endblock %}
