{% extends 'LIHotelBundle::adminBase.html.twig' %}

{% block body -%}
<div class="page-header">
	<h1>Modificar Categoria Habitacion</h1>
</div>

<div class="row">
    <div class="col-lg-3 col-sm-3 col-xs-12">
        <ul class="nav nav-stacked">
            <li role="presentation"><a class="btn btn-success btn-block" href="{{ path('categoriahabitacion') }}" role="button">Ver todas las Categorias</a></li>
            <li role="presentation"><a type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalEliminarCategoria">Eliminar Categoría Habitación</a></li>
        </ul>
    </div>

    <!-- PANEL DEL CONTENIDO -->
    <div class="col-lg-9 col-sm-9 col-xs-12">
        {% for flashMessage in app.session.flashbag.get('categoriahabitacion_malos') %}
            <div class = "alert alert-danger alert-dismissable">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                <b>Holy Whack-A-Mole!</b> {{ flashMessage }}
            </div>
        {% endfor %}
        {{ form(edit_form) }}
    </div>
</div>
<!-- EL MODAL -->
<div class="modal fade" id="ModalEliminarCategoria" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-danger">¡Cuidado!</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de que desea realizar esta operación? Es preferible que modifique una categoría existente</p><p class="text-danger">Si una habitación tiene asociada la categoría que esta por eliminar, no podrá eliminarse y deberá primero desvincular todas las habitaciones de esta categoría.</p>
            </div>
            <div class="modal-footer">
            <style type="text/css">.form-group{ margin-bottom: 0px !important; }</style>
            {{ form(delete_form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
