{% extends 'LIHotelBundle::adminBase.html.twig' %}
{% block javascripts %}
	<script src="{{ asset('bundles/lihotel/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/lihotel/js/TipoFormulario.js') }}"></script>
{% endblock %}
{% block body -%}
        <h1>Tipo Habitaci칩n <small>como est치 compuesta cada habitaci칩n, m치ximo 30 habitaciones</small></h1>


    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tipo') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
